@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Interhilos

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #5d5d5d;
$tertiary_color: #ffff8c;
$background: #f2f2f2;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 7px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background: {
									image: url(moduletable_to2_menu_a_active_bg.png);
									position: center;
									repeat: no-repeat;
									size: auto 100%;
								}
							}
						}
						&:last-child {
							background: none;
						}
						a {
							margin-top: 20px 0;
							padding: 20px 15px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								background: {
									image: url(moduletable_to2_menu_a_active_bg.png);
									position: center;
									repeat: no-repeat;
									size: auto 100%;
								}
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							min-width: 200px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									margin: 0;
									padding: 10px;
									background-image: none !important;
									border: none;
									text-transform: initial;
									z-index: 100;
									&:hover {
										background: {
											image: none;
											color: $secondary_color;
										}
										color: #fff;
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent $secondary_color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {}
	.moduletable_to4 {
		a {
			margin: 5px 0;
			display: block;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin: 0;
		font-size: 18px;
	}
	table {
		&.home {
			tbody {
				border: 0;
			}
		}
	}
	a {
		&.home {
			margin: 10px 0;
			padding: 10px;
			border: {
				color: $border;
				radius: 0;
			}
			color: #000;
			display: block;
			&:hover {
				background-color: $tertiary_color;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid $secondary_color;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 10px;
						/*background: {
							image: url(block_1_a_bg.png);
							position: right;
							repeat: no-repeat;
						}*/
						border: 1px solid $border;
						border-radius: 0;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
					&.yith-wcqv-button {
						background-color: $border;
						border-radius: 0;
						color: #fff;
					}
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		h3 {
			font-size: 18px;
			color: #000;
		}
		a {
			&.hollow {
				/*background: {
					image: url(block_1_a_bg.png);
					position: right;
					repeat: no-repeat;
				}*/
				border: {
					color: $border;
					radius: 0;
				}
				color: $primary_color;
				text-align: center;
				display: block;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_b21 {
		iframe {
			border: none;
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 10px;
	.moduletable_bo1 {
		a {
			color: $primary_color;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}